<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
    <title><%= info.title %> - Home</title>
</head>
<body>
<main>
    <h1 class="title"><%= info.title %></h1>
    <%= info.description %>
    <h2>Articles in this blog :</h2>
    <% articles.forEach((article) => { %>
        <div class="article">
            <h3><%- `<a href="${article.url}">${article.title}</a>` %></h3>
            <span class="time"><span>Published on</span> <%= article.year + '-' + ('0' + article.month).slice(-2) + '-' + ('0' + article.day).slice(-2) %></span>
            <% if(article.thumbnail){ %>
                <%- `<img alt="thumbnail" src=${article.thumbnail}>` %>
            <% } %>
        </div>
    <% }); %>
    <%- include('footer'); %>
</main>
</body>
</html>
